<div class="row h-100 w-100">
  <div class="d-flex col-md-6 align-items-end offset-1 my-auto">
    <app-todo-greeting>

    </app-todo-greeting>
  </div>

  <div class="col-md-12 h-80">
    <div class="h-100">
      <div class class="d-flex flex-column">
        <!--Input-->
        <div class="create-form-container d-flex flex-row offset-1 h-10">
          <div [formGroup]="inputForm" class="col-8 col-md-9 col-lg-5">
            <input placeholder="What'd you do for love...?" class="form-control" [formControl]="contentFormControl"
              (keyup.enter)="submitForm()" [class.is-invalid]="(contentFormControl.hasError('minlength') 
              || contentFormControl.hasError('maxlength') 
              || contentFormControl.hasError('required')) 
              && (contentFormControl.touched)" />

            <div class="invalid-feedback" *ngIf="contentFormControl.hasError('required')">
              Required field.
            </div>

            <div class="invalid-feedback" *ngIf="contentFormControl.hasError('minlength')">
              3 characters are required.
            </div>

            <div class="invalid-feedback" *ngIf="contentFormControl.hasError('maxlength')">
              255 characters is maximum.
            </div>
          </div>

          <div class=" col-1 offset-1 pl-2">
            <button (click)="submitForm()" [disabled]="inputForm.invalid" class="btn btn-info">
              <i class="fa fa-arrow-up"></i>
            </button>
          </div>
        </div>
        <!--Todo list-->
        <div class="todos col-10 col-md-10 offset-1">
          <!-- <app-todo-item *ngFor="let item of todos" [item]="item"></app-todo-item> -->
          <ng-container *ngFor="let item of todos">
            <app-todo-item [item]="item" *ngIf="item.status !== 'Archived'"></app-todo-item>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>