<div class="row h-100 w-100">
  <div
    class="d-flex col-md-6 align-items-end col-lg-6 offset-1 h-20 pb-3"
    style="padding: 0"
  >
    <app-todo-greeting></app-todo-greeting>
  </div>

  <div class="col-md-12 h-80">
    <div class="h-100">
      <div class="d-flex flex-column">
        <app-todo-create-form
          class="col-11 col-md-11 offset-1 p-0"
          style="height: 10%"
        ></app-todo-create-form>
        <app-todo-list class="col-11 col-md-11 offset-1 p-0"></app-todo-list>
      </div>
    </div>
  </div>
</div>
