@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
}

$regular-font-family: "Montserrat Regular";
$medium-font-family: "Montserrat Medium";

.col-8 {
  input {
    font-family: $medium-font-family;
  }

  .invalid-feedback {
    font-family: $medium-font-family;
    font-weight: normal;
  }
}
button {
  font-family: $regular-font-family;
}
