#page {
  display: flex;
  height: 100vh;
  width: 100vw;

  .sidebar-container {
    font-weight: bold;
    background-color: white;
    align-items: center;
  }

  .content-container {
    background-image: url("../assets/jerry-zhang-ePpaQC2c1xA-unsplash.jpg");
    background-size: cover;
  }
}

