<div class="btn-group mr-3">
  <button type="button" class="btn btn-info text-nowrap">
    {{ item.status }}
  </button>
  <div
    class="btn-group"
    ngbDropdown container="body"
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <button
      class="btn btn-secondary dropdown-toggle-split"
      ngbDropdownToggle
      [ngStyle]="item.status === 'Archived' && {'display': 'none'}"
    ></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let status of availableStatusList">
        {{ status }}
      </button>
    </div>
  </div>
</div>
